Repository gatsbyjs/gatsby-pt-BR, pull requests merged in 2019-12, with the labels that each got.

#78 translate tailwind-css.md
  docs/docs/tailwind-css.md
Labels: /docs

#83 traducao/building-an-e-commerce-site
  docs/docs/building-an-e-commerce-site.md
Labels: /docs

#85 translate: adding-page-transitions.md
  docs/docs/adding-page-transitions.md
Labels: /docs

#87 Traducao headless cms
  docs/docs/headless-cms.md
Labels: /docs

#60 translate: rfc-process.md
  docs/contributing/rfc-process.md
Labels: /contributing

#81 translate: css-modules.md
  docs/docs/css-modules.md
Labels: /docs

#86 traducao-convincing-others.md
  docs/docs/convincing-others.md
Labels: /docs

#88 Translate creating-slugs-for-pages.md
  docs/docs/creating-slugs-for-pages.md
Labels: /docs

#89 docs: Translate part-one.md
  docs/tutorial/part-one/index.md
Labels: /tutorial

#90 Traducao gatsby core philosophy
  docs/docs/gatsby-core-philosophy.md
Labels: /docs

#95 traducao-customization.md
  docs/docs/customization.md
Labels: /docs

#102 Adds conceptual guide translation
  docs/docs/conceptual-guide.md
Labels: /docs

#105 Adds Glamor translate
  docs/docs/glamor.md
Labels: /docs

#92 translate: docs/preparing-for-deployment.md
  docs/docs/preparing-for-deployment.md
Labels: /docs

#99 translation of localization-i18n.md
  docs/docs/localization-i18n.md
Labels: /docs

#100 translation of bulma.md
  docs/docs/bulma.md
Labels: /docs

#104 traducao-guides.md
  docs/docs/guides.md
Labels: /docs

#97 translate: build-caching.md
  docs/docs/build-caching.md
Labels: /docs

#103 Adds linking between pages translation
  docs/docs/linking-between-pages.md
Labels: /docs

#109 Adds deploying hosting translation
  docs/docs/deploying-and-hosting.md
Labels: /docs

#84 traducao creating-a-transformer-plugin
  docs/docs/creating-a-transformer-plugin.md
Labels: /docs

#93 Translate adding-forms.md
  docs/docs/adding-forms.md
Labels: /docs

#96 Traduzido graphql-concepts.md
  docs/docs/graphql-concepts.md
Labels: /docs

#98 Tradução first-professional-project.md
  docs/docs/first-professional-project.md
Labels: /docs

#106 Add porting to gatsby
  docs/docs/porting-to-gatsby.md
Labels: /docs

#107 Adds ESlint translation
  docs/docs/eslint.md
Labels: /docs

#110 Adds faster recruiting translation
  docs/docs/faster-recruiting.md
Labels: /docs

#115 Translation/sass.md
  docs/docs/sass.md
Labels: /docs

#113 translate: emotion.md
  docs/docs/emotion.md
Labels: /docs

#67 translate: graphql.md
  docs/docs/graphql.md
Labels: /docs

#111 docs: Translate gatsby-repl to pt-BR
  docs/docs/gatsby-repl.md
Labels: /docs

#116 Add plugins.md traduction
  docs/docs/plugins.md
Labels: /docs
