Repository gatsbyjs/gatsby-pt-BR, pull requests merged in 2019-11, with the labels that each got.

#43 Adding a Glossary file and poiting style guide to it
  GLOSSARY.md
  style-guide.md
Labels: documentation

#42 Tradução da página how to run a gatsby workshop
  docs/contributing/how-to-run-a-gatsby-workshop.md
Labels: /contributing

#41 translate how-to-label-an-issue
  docs/contributing/how-to-label-an-issue.md
Labels: /contributing

#22 Traducao docs contributions
  docs/contributing/docs-contributions.md
Labels: /contributing

#31 Adiciona correções
  docs/contributing/how-to-open-a-pull-request.md
Labels: /contributing, Translate correction

#32 Add triaging-github-issues translation to pt-br
  docs/contributing/triaging-github-issues.md
Labels: /contributing

#34 Tradução do tutorial/part-five
  docs/tutorial/part-five/index.md
Labels: /tutorial

#44 Tradução da página setting-up-your-local-dev-environment.
  docs/contributing/setting-up-your-local-dev-environment.md
Labels: /contributing

#45 tradução da página submit-to-plugin-library
  docs/contributing/submit-to-plugin-library.md
Labels: /contributing

#38 Adding translations for Quick Start
  docs/docs/quick-start.md
Labels: /docs

#14 Tradução da quarta parte do tutorial
  docs/tutorial/part-four/index.md
Labels: /tutorial

#30 Translate how-to-make-a-reproducible-test-case
  docs/contributing/how-to-make-a-reproducible-test-case.md
Labels: /contributing

#51 Traducao why-contribute-to-gatsby.md
  docs/contributing/why-contribute-to-gatsby.md
Labels: /contributing

#33 Tradução do submit-to-creator-showcase
  docs/contributing/submit-to-creator-showcase.md
Labels: /contributing

#25 Add community translation
  docs/contributing/community.md
Labels: /contributing

#55 Tradução tutorial/part-seven
  docs/tutorial/part-seven/index.md
Labels: /tutorial

#54 Traducao managing pull requests
  docs/contributing/managing-pull-requests.md
Labels: /contributing

#52 Tradução do organize a gatsby event
  docs/contributing/organize-a-gatsby-event.md
Labels: /contributing

#59 translate styled-components /docs
  docs/docs/styled-components.md
Labels: /docs

#58 Translate styling.md to pt-br
  docs/docs/styling.md
Labels: /docs

#56 [TRADUÇÃO] Tutorial - Parte 6
  docs/tutorial/part-six/index.md
Labels: /tutorial

#63 Tradução add-404-page.md
  docs/docs/add-404-page.md
Labels: /docs

#64 traducao-using-gatsby-professionally.md
  docs/docs/using-gatsby-professionally.md
Labels: /docs

#66 translate babel.md
  docs/docs/babel.md
Labels: /docs

#72 Tradução para add-page-metadata.md
  docs/docs/add-page-metadata.md
Labels: /docs

#69 translate: best-practices-for-orgs.md
  docs/docs/best-practices-for-orgs.md
Labels: /docs

#40 [WIP] translate: recipes.md
  docs/docs/recipes.md
Labels: /docs

#62 translate: how-to-write-a-stub.md
  docs/contributing/how-to-write-a-stub.md
Labels: /contributing

#65 translate: path-prefix.md
  docs/docs/path-prefix.md
Labels: /docs

#76 Tradução para creating-plugins.md
  docs/docs/creating-plugins.md
Labels: /docs

#53 translate: site-showcase-submission.md
  docs/contributing/site-showcase-submissions.md
Labels: /contributing

#71 translate: gatsby-on-linux.md
  docs/docs/gatsby-on-linux.md
Labels: /docs

#70 translate: naming-a-plugin.md
  docs/docs/naming-a-plugin.md
Labels: /docs

#61 translate: browser-support.md
  docs/docs/browser-support.md
Labels: /docs

#27 translate: tutorial/part-three/index.md
  docs/tutorial/part-three/index.md
Labels: /tutorial

#74 translate: testing-react-components.md
  docs/docs/testing-react-components.md
Labels: /docs

#80 translate: building-a-portfolio.md
  docs/docs/building-a-portfolio.md
Labels: /docs

#82 translate: api-files-gatsby-node.md
  docs/docs/api-files-gatsby-node.md
Labels: /docs

#75 translate: content-and-data.md
  docs/docs/content-and-data.md
Labels: /docs

#39 translate: using-online-dev-environment.md
  docs/contributing/using-an-online-dev-environment.md
Labels: /contributing
