Repository gatsbyjs/gatsby-pt-BR, pull requests merged in 2020-04, with the labels that each got.

#226 traducao: basic-hardware-software-requirements.md
  docs/docs/basic-hardware-software-requirements.md
Labels: /docs

#231 Update CODEOWNERS
  CODEOWNERS
Labels: enhancement

#229 New translation: how-gatsby-works-with-github-pages.md
  docs/docs/how-gatsby-works-with-github-pages.md
Labels: /docs

#230 New translation: node-interface.md
  docs/docs/node-interface.md
Labels: /docs

#222 New translation: glossary/node.md
  docs/docs/glossary/node.md
Labels: /docs

#223 New translation: themes/getting-started.md
  docs/docs/themes/getting-started.md
Labels: /docs

#174 New translation: creating-and-modifying-pages.md
  docs/docs/creating-and-modifying-pages.md
Labels: /docs

#193 New translation: debugging-html-builds.md
  docs/docs/debugging-html-builds.md
Labels: /docs

#182 New translation: gatsby-config.md
  docs/docs/gatsby-config.md
Labels: /docs

#190 New translation: schema-generation.md
  docs/docs/schema-generation.md
Labels: /docs

#203 New translation: images-and-files.md
  docs/docs/images-and-files.md
Labels: /docs

#232 New translation: deploying-to-gitlab-pages
  docs/docs/deploying-to-gitlab-pages.md
Labels: /docs

#202 New translation: caching.md
  docs/docs/caching.md
Labels: /docs

#187 New translation: upgrading-node-js.md
  docs/docs/upgrading-node-js.md
Labels: /docs

#225 New translation: what-are-gatsby-themes.md
  docs/docs/themes/what-are-gatsby-themes.md
Labels: /docs

#240 Fix translation: sync docs/tutorial/*
  docs/tutorial/part-eight/index.md
  docs/tutorial/part-one/index.md
  docs/tutorial/part-zero/index.md
Labels: /docs, Translate correction

#233 New translation: schema-sift.md
  docs/docs/schema-sift.md
Labels: /docs

#241 Fix translation: gatsby-on-windows.md
  docs/docs/gatsby-on-windows.md
Labels: /docs, Translate correction
