Repository gatsbyjs/gatsby-pt-BR, pull requests merged in 2020-05, with the labels that each got.

#243 Atualizando lista de codeowners
  CODEOWNERS
Labels: enhancement

#238 Fix translation: gatsby-on-linux.md
  docs/docs/gatsby-on-linux.md
Labels: /docs, Translate correction

#248 New translation: v2-release-notes.md
  docs/docs/v2-release-notes.md
Labels: /docs

#242 Fix translation: winning-over-clients.md and recipes.md
  docs/docs/recipes.md
  docs/docs/winning-over-clients.md
Labels: /docs, Translate correction

#249 Fix translation: gatsby-cli.md
  docs/docs/gatsby-cli.md
Labels: /docs, Translate correction

#252 Fix: CONTRIBUTING.md typo
  CONTRIBUTING.md
Labels: Translate correction

#236 Fix translation: styled-components.md and tailwind-css.md
  docs/docs/styled-components.md
  docs/docs/tailwind-css.md
Labels: /docs, Translate correction

#247 Fix translation: organize-a-gatsby-event.md
  docs/contributing/organize-a-gatsby-event.md
Labels: /docs, Translate correction

#253 Fix translation: glossary.md
  docs/docs/glossary.md
Labels: /docs, Translate correction

#237 Fix translation: what-is-a-plugin.dm and what-you-dont-need-plugins-for.md
  docs/docs/what-is-a-plugin.md
  docs/docs/what-you-dont-need-plugins-for.md
Labels: /docs, Translate correction

#250 Fix translation: blog-and-website-contributions.md
  docs/contributing/blog-and-website-contributions.md
  docs/contributing/blog-contributions.md
  docs/contributing/website-contributions.md
Labels: /docs, Translate correction

#254 Fix translation: static-folder.md
  docs/docs/static-folder.md
Labels: /docs, Translate correction

#255 Fix translation: building-an-e-commerce-site.md
  docs/docs/building-an-e-commerce-site.md
Labels: /docs, Translate correction

#245 Fix translation: contributing/code-contributions.md
  docs/contributing/code-contributions.md
Labels: /docs, Translate correction

#261 Fix translation: porting-to-gatsby.md
  docs/docs/porting-to-gatsby.md
Labels: /docs, Translate correction

#263 Fix translation: making-your-site-accessible.md
  docs/docs/making-your-site-accessible.md
Labels: /docs, Translate correction

#256 Fix translation: setting-up-your-local-dev-environment.md
  docs/contributing/setting-up-your-local-dev-environment.md
Labels: /docs, Translate correction

#251 Fix translation: routing.md
  docs/docs/routing.md
Labels: /docs, Translate correction

#246 Fix translation: plugins.md
  docs/docs/plugins.md
Labels: /docs, Translate correction

#262 Fix translation: Adjust sync translate
  docs/contributing/how-to-open-a-pull-request.md
  docs/contributing/managing-pull-requests.md
  docs/contributing/pair-programming.md
Labels: /docs, Translate correction
