Repository gatsbyjs/gatsby-pt-BR, pull requests merged in 2020-01, with the labels that each got.

#94 Tradução de routing.md
  docs/docs/routing.md
Labels: /docs

#124 Tradução winning-over-stakeholders.md
  docs/docs/winning-over-stakeholders.md
Labels: /docs

#127 Translating page-creation
  docs/docs/page-creation.md
Labels: /docs

#117 translating adding-analytics.md
  docs/docs/adding-analytics.md
Labels: /docs

#119 translation of cheat-sheet.md
  docs/docs/cheat-sheet.md
Labels: /docs

#120 translate: importing-media-content.md
  docs/docs/importing-media-content.md
Labels: /docs

#122 traducao-overview.md
  docs/docs/overview.md
Labels: /docs

#130 docs: Translate starters to pt-BR
  docs/docs/starters.md
Labels: /docs

#132 translate: coming-from-react-to-gatsby.md
  docs/docs/coming-from-react-to-gatsby.md
Labels: /docs

#121 feature: translate tutorial part two.
  docs/tutorial/part-two/index.md
Labels: /tutorial

#137 Translates creating-a-sitemap.md
  docs/docs/creating-a-sitemap.md
Labels: /docs

#91 Adiciona tradução para add-a-manifest-file.md
  docs/docs/add-a-manifest-file.md
Labels: /docs

#114 Tradução query-extraction.md
  docs/docs/query-extraction.md
Labels: /docs

#128 Translate static-folder
  docs/docs/static-folder.md
Labels: /docs

#118 docs: Translate add-seo-component.md
  docs/docs/add-seo-component.md
Labels: /docs

#138 docs: Translate MDX getting start file getting-started.md
  docs/docs/mdx/getting-started.md
Labels: /docs

#131 Traducao css in js
  docs/docs/css-in-js.md
Labels: /docs

#142 Translation of community-contributions to pt-br
  docs/contributing/community-contributions.md
Labels: /contributing

#144 security in gatsby translate
  docs/docs/security-in-gatsby.md
Labels: /docs

#143 Translate what-is-a-plugin to pt-br
  docs/docs/what-is-a-plugin.md
Labels: /docs

#141 translation of gatsby-on-windows
  docs/docs/gatsby-on-windows.md
Labels: /docs

#140 translate: what-you-dont-need-plugins-for.md
  docs/docs/what-you-dont-need-plugins-for.md
Labels: /docs

#139 Translation of sourcing-from-ghost.md
  docs/docs/sourcing-from-ghost.md
Labels: /docs

#136 Tradução completa do arquivo using-fragments.md
  docs/docs/using-fragments.md
Labels: /docs

#134 Translate why-gatsby-uses-graphql
  docs/docs/why-gatsby-uses-graphql.md
Labels: /docs

#129 traducao api-files-gatsby-config
  docs/docs/api-files-gatsby-config.md
Labels: /docs

#108 traducao/configuring-ca-certificates
  docs/docs/configuring-ca-certificates.md
Labels: /docs

#123 translation of adding-comments.md
  docs/docs/adding-comments.md
Labels: /docs

#135 docs: added seo.md file translation
  docs/docs/seo.md
Labels: /docs

#157 Translate working-with-images.md to pt-br
  docs/docs/working-with-images.md
Labels: /docs

#154 translate: typography-js.md
  docs/docs/typography-js.md
Labels: /docs

#152 Translating making-components-discoverable
  docs/docs/making-components-discoverable.md
Labels: /docs

#149 Translation of adding-search.md
  docs/docs/adding-search.md
Labels: /docs

#146 Update using-a-gatsby-theme.md
  docs/docs/themes/using-a-gatsby-theme.md
Labels: /docs

#147 Translated testing-css-in-js.md
  docs/docs/testing-css-in-js.md
Labels: /docs

#150 Traducao: gatsby for freelancers
  docs/docs/gatsby-for-freelancers.md
Labels: /docs

#156 Translate working-with-gifs
  docs/docs/working-with-gifs.md
Labels: /docs

#159 Translate winning-over-executives.md
  docs/docs/winning-over-executives.md
Labels: /docs

#164 Translate global-css.md
  docs/docs/global-css.md
Labels: /docs

#170 traducao-debugging.md
  docs/docs/debugging.md
Labels: /docs

#166 translating how-gatsby-boosts-career.md
  docs/docs/how-gatsby-boosts-career.md
Labels: /docs

#153 Translation of deploying-to-render.md
  docs/docs/deploying-to-render.md
Labels: /docs

#158 Tradução do arquivo telemetry.md
  docs/docs/telemetry.md
Labels: /docs

#160 translate: preparing-your-environment.md
  docs/docs/preparing-your-environment.md
Labels: /docs

#161 Translate answering-it-security.md
  docs/docs/answering-it-security.md
Labels: /docs

#165 Tradução de sourcing-from-drupal.md
  docs/docs/sourcing-from-drupal.md
Labels: /docs

#162 Add themes.md traduction
  docs/docs/themes.md
Labels: /docs

#167 Tradução post-css
  docs/docs/post-css.md
Labels: /docs

#163 Translation of deploying-to-netlify.md
  docs/docs/deploying-to-netlify.md
Labels: /docs

#177 traducao-api-reference.md
  docs/docs/api-reference.md
Labels: /docs

#179 traducao-releases-and-migration.md
  docs/docs/releases-and-migration.md
Labels: /docs

#173 adding option #3 on tailwind-css.md
  docs/docs/tailwind-css.md
Labels: /docs, enhancement
